<div class="alert alert-dismissible fade show mt-2" role="alert" [ngClass]="notif.type" *ngFor="let notif of this.notifs">
  {{ notif.msg }}
  <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="container-fluid">
  <form [formGroup]="teamForm">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="nomTeam">Nom de l'équipe</label>
          <input type="nom" class="form-control" id="nomTeam" formControlName="name" aria-describedby="nomError" placeholder="Entrer le nom de l'équipe">
          <small *ngIf="this.isErrorField('name')" id="nomError" class="form-text text-muted error">
            Ce champ est obligatoire
          </small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="thumbnail">Photo</label>
          <input type="text" class="form-control" formControlName="thumbnail" id="thumbnail" placeholder="Entrer un lien vers la photo">
          <small *ngIf="this.isErrorField('thumbnail')" id="thumbnailError" class="form-text text-muted error">
            Ce champ est obligatoire
          </small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label for="league">Selectionnez une league</label>
        <select class="form-control form-select" id="league" [(ngModel)]="leagueSelected"  [ngModelOptions]="{standalone: true}">
          <option [ngValue]="league" *ngFor="let league of this.leagues">{{league.name}}</option>
        </select>
      </div>
    </div>
    <button type="submit" (click)="submit()" class="btn btn-primary mt-2"[disabled]="!teamForm.valid" >Valider</button>
  </form>
</div>

